 #{extends 'main.html' /}
#{set title:'Formulario' /}

<div class="card-chart card">
	<div class="card-header card-chart card-header-primary">
		<h3>Postar</h3>
	</div>
	<div class="card-body">
		<form action= "@{Postagens.salvar}">
		<input type="hidden" name="post.id" value="${post?.id}">
		#{ifnot id}
		<input type="hidden" name="uid" value="${post.donoDaPostagem.id}">
		#{/ifnot}
		<input type="hidden" name="uid" value="${id}">
		<label for="">Texto</label>
		<input type="text" class="form-control" name="post.texto" value = "${post?.texto}">

		<button type="submit" class="btn btn-info">Enviar</button>
		</form>
	</div>
</div>



 <a href="@{Application.index}">Início</a>
