#{extends 'main.html' /}
#{set title:'Lista' /}

		<div class="card">
		<div class="card-header card-header-warning"><h2 class="card-title">Lista de Posts</h2></div>
		<div class="card-body">
			<div class="table-responsive">
			<table class="table">
			<thead class="text-primary">
				<tr>
					<th>Autor do Post</th>
					<th>Texto</th>
					<th>Ações</th>
				</tr>
			</thead>
				<tbody>
					#{list items:lista,as:'post'}
					 	<tr>
					 		<td>
					 			${post.donoDaPostagem.nome}
					 		</td>
					 		<td>
					 			${post.texto}		 	
					 		</td>
					 		
					 		<td>
					 			<a class="btn btn-info" href='@{Postagens.editar(post.id)}'>Editar</a>
					 			<a class="btn btn-danger" href='@{Postagens.deletar(post.id)}'>Deletar</a>
					 		</td>
					 	</tr>
					
					#{/list}
				</tbody>
			</table>
			</div>
			
		</div>
		</div>
	#{else}
	<h3>Nenhuma postagem feita!!</h3>
	#{/else}
 
<a class="btn btn-info"href="@{Application.index}">Sair</a>
